{{:ref \T, :alt \A, :before \G, :after \C} 1,
 {:ref \C, :alt \T, :before \G, :after \A} 1,
 {:ref \T, :alt \C, :before \G, :after \A} 6,
 {:ref \C, :alt \T, :before \T, :after \T} 1,
 {:ref \T, :alt \C, :before \T, :after \T} 1,
 {:ref \T, :alt \C, :before \G, :after \G} 3,
 {:ref \C, :alt \G, :before \A, :after \C} 1,
 {:ref \T, :alt \C, :before \T, :after \G} 3,
 {:ref \T, :alt \A, :before \T, :after \C} 1,
 {:ref \C, :alt \T, :before \G, :after \C} 1,
 {:ref \T, :alt \C, :before \A, :after \T} 1,
 {:ref \T, :alt \C, :before \C, :after \C} 1,
 {:ref \T, :alt \C, :before \A, :after \A} 4,
 {:ref \T, :alt \G, :before \A, :after \G} 1,
 {:ref \T, :alt \C, :before \C, :after \G} 2,
 {:ref \C, :alt \G, :before \T, :after \A} 2,
 {:ref \C, :alt \T, :before \A, :after \T} 1,
 {:ref \C, :alt \T, :before \C, :after \T} 1}
